<div class="action-plan" id="action-plan-<%= action_plan.id %>">
  <div class="action-plan-description">
    <%= action_plan.description %>-<%= link_to "Show Goals", "#", class:"show-goals", data: {action_plan_id: action_plan.id }%> - <%= link_to "Show All", "#", class:"show-goals-steps", data: {action_plan_id: action_plan.id }%>
  </div>

  <div class="action-plan-goals hidden">
    <div class="goals">
      <% action_plan.goals.each do |goal| %>
        <%= render partial: 'shared/goal', locals: {goal: goal} %>
      <% end %>
    </div>
    <%= link_to "Add Goal", "#", id: "add-goal", data: {action_plan_id: action_plan.id } %>
    <%= form_for @goal, html: {class:"hidden"}  do |f| %>
      <%= f.text_field :description, placeholder: "Description"%>
      <%= f.hidden_field :action_plan_id, value: action_plan.id %>
      <%= f.submit "Add Goal" %>
    <% end %>
  </div>
</div>