<div class="action-plan" id="action-plan-<%= action_plan.id %>">
  <table class="action-plan-description">
    <td><h3><%= action_plan.description %></h3></td>
    <td><h4>On Track</h4></td>
    <td><p><%= link_to "Show Goals", "#", class:"show-goals", data: {action_plan_id: action_plan.id }%></p>
      <p><%= link_to "Show All", "#", class:"show-goals-steps", data: {action_plan_id: action_plan.id }%></p></td>
    <td>
      <%= link_to "Delete", action_plan, remote: true, method: :delete, class: "delete-action-plan" %></td>

  </table>

  <div class="action-plan-goals hidden">
    <div class="goals">
      <% action_plan.goals.order(:created_at).each do |goal| %>
        <%= render partial: 'shared/goal', locals: {goal: goal, new_step: new_step} %>
      <% end %>
    </div>
    <%= link_to "Add Goal", "#", id: "add-goal", data: {action_plan_id: action_plan.id } %>
    <%= form_for new_goal, remote: true, html: {class:"hidden"}  do |f| %>
      <%= f.text_field :description, placeholder: "Description"%>
      <%= f.hidden_field :action_plan_id, value: action_plan.id %>
      <%= f.submit "Add Goal" %>
    <% end %>
  </div>
</div>
