<div class="goal" id="goal-<%= goal.id %>">
  <div class="goal-description">
    <%= goal.description %> - <%= link_to "Show Steps", "#", class:"show-steps", data: {goal_id: goal.id }%> - <%= link_to "Delete", goal, remote: true, method: :delete, class: "delete-goal" %>
  </div>

  <div class="goal-steps hidden">
    <div class="steps">
      <% goal.steps.each do |step| %>
        <%= render partial: "shared/step", locals: {step: step} %>
      <% end %>
    </div>
  <%= link_to "Add Step", "#", class: "add-step", data: {goal_id: goal.id } %>
  <%= form_for new_step, remote: true, html: {class: 'hidden'} do |f| %>
    <%= f.hidden_field :goal_id, value: goal.id %>
    <%= f.text_field :description, placeholder: "Description" %>
    <%= f.date_field :due_by %>
    <%= f.submit "Add Step" %>
  <% end %>
  </div>
</div>