<%= link_to "Back to Dashboard", dashboard_path %>
<div id="client-details">
  <h2><%= "#{@client.first_name} #{@client.last_name}" %></h2>
  <h3>Phone: <%= @client.phone %></h3>
  <h3>Email: <%= @client.email %></h3>
  <h3>Salesforce ID: <%= @client.salesforce_id %>
</div>

<div id="action-plans">
  <h2>Action Plans</h2>
  <% @client.action_plans.each do |action_plan| %>
    <%= render partial: 'shared/action_plan', locals: {action_plan: action_plan, new_goal: @goal, new_step: @step} %>
  <% end %>
</div>

<%= link_to "Add Action Plan", "#", id: "add-action-plan" %>

<%= form_for @action_plan, remote: true, html: {class: 'hidden'} do |f| %>
  <%= f.text_field :description, placeholder: 'Description' %>
  <%= f.hidden_field :client_id, value: @client.id %>
  <%= f.submit "Add Action Plan" %>
<% end %>