<div id="add-new-client">
  <%= link_to 'Add New Client','#', id: 'show-client-form' %>
  <%= form_for @client, html:{class: "hidden"} do |f| %>
    <%= f.text_field :first_name, placeholder: 'First Name'%>
    <%= f.text_field :last_name, placeholder: 'Last Name' %>
    <%= f.text_field :salesforce_id, placeholder: 'SalesForce ID' %>
    <%= f.text_field :phone, placeholder: 'Phone Number' %>
    <%= f.email_field :email, placeholder: 'Email' %>
    <%= f.submit %>
  <% end %>
</div>

<div id = "new-client-errors">
  <%= flash[:errors] %>
</div>

<div id="client-list">
<h2>Clients List</h2> <!-- for testing purposes, remove pending final design of dashboard -->
<% @clients.each do |client| %>
  <%= render partial: 'shared/client_list_item', locals: {client: client} %>
<% end %>
</div>