<div id="dashboard">
  <div id="head-client">
    <p>Hello, <%= @user.first_name %>!</p>

    <div id="add-new-client">
<!--      <%= button_to 'Add client','#', class: 'pure-button pure-button-primary', id: 'show-client-form' %>-->
          <%= button_to 'Add client','#', class: 'pure-button pure-button-primary', id: 'show-client-form' %>
    </div>

    <%= form_for @client, html:{class: "hidden add-client"} do |f| %>
      <%= f.text_field :first_name, placeholder: 'First Name'%>
      <%= f.text_field :last_name, placeholder: 'Last Name' %>
      <%= f.text_field :salesforce_id, placeholder: 'SalesForce ID' %>
      <%= f.text_field :phone, placeholder: 'Phone Number' %>
      <%= f.email_field :email, placeholder: 'Email' %>
      <%= f.submit class: 'pure-button pure-button-primary', id:'submit' %>
    <% end %>

  </div>

  <div id = "new-client-errors">
    <%= flash[:errors] %>
  </div>

  <div class="client-list">
    <table>
      <tr>
        <th>Client Name</th>
        <th>Client ID</th>
        <th>Status</th>
      </tr>
      <% @clients.each do |client| %>
        <tr><%= render partial: 'shared/client_list_item', locals: {client: client} %></tr>
      <% end %>
    </table>
  </div>
</div>

<ul class="side-bar">
  <li class="texts">
    <h2>Text Message History</h2>
    <% @user.clients.each do |client| %>
      <% client.text_messages.each do |text_message| %>
        <%= render partial: 'shared/text_message', locals: {text_message: text_message} %>
      <% end %>
    <% end %>
  </li>
</ul>
