<!DOCTYPE html>
<html>
<head>
  <title>MedaPulse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <div class="header">
    </div>
      <div class="content">
        <% if logged_in? %>
          <%= link_to "Logout", session_path, method: "DELETE" %><br>
        <% end %>

        <%= yield %>
    </div>
  </div>

</body>
</html>
