<!DOCTYPE html>
<html>
<head>
  <title>MedaPulse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <header>
        <div class="nav">
          <% if logged_in? %>
            <li><%= link_to "Logout", session_path, method: "DELETE" %></li>
            <li id="dash"><%= link_to "Dashboard", dashboard_path %></li>
          <% end %>
        </div>
    </header>
      <div class="content">
        <%= yield %>
    </div>
  </div>

</body>
</html>
